# data types

- integer
     - int
- float
     - float
- strings
     - str
- boolean
     - bool
- complex conjugate
     - complex

# integer

In [1]:
number=100
number

100

In [2]:
# type of the variable : type
type(number)

int

# in maths we have different number system

- decimal
- binary
- octal
- hexa

# binary

- bi mean 2
- so the base is also 2
- 0 1 2 3 4 5 6 7 8 9
- here will use only two digits : 0 and 1
- representation is : 0b<combination of 0 and 1>
- 0b110 , 0B011101

In [3]:
0b111
# python output will come as decimal format only

7

In [4]:
0b1111

15

In [ ]:
# 3 digits = 4  2  1
# 4 digits = 8  4  2  1
# 5 digits = 16 8  4  2  1
*******************************************
4     2      1         decimal output
*******************************************
0        0        0        0
0        0        1        1
0        1        0        2
0        1        1        3
1        0        0        4
1        0        1        5
1        1        0        6
1        1        1        7

4 = 4 times 0 and 4 times 1 will come
2 = 2 times 0 and 2 time 1
1 = 1 times 0 and 1 time 1

ON = 1
OFF = 0

In [ ]:
     ******************************************************
8      4       2       1        decimal output
     ******************************************************
0      0       0       0        0
0      0       0       1        1
0      0       1       0        2
0      0       1       1        3
0      1       0       0        4
0      1       0       1        5
0      1       1       0        6
0      1       1       1        7
1      0       0       0        8
1      0       0       1        9
1      0       1       0        10
1      0       1       1        11
1      1       0       0        12
1      1       0       1        13
1      1       1       0        14
1      1       1       1        15

In [5]:
0b1110

14

In [6]:
0b1001

9

# octa

- octa mean 8
- so the base is also 8
- 0 1 2 3 4 5 6 7 8 9
- here will use only 8 digits : 0,1,2,3,4,5,6,7 (0 to 7 means 8 digits)
- representation is : 0o<combinations of 0 to 7>
- 0o123 , 0O7564

In [11]:
0o123

83

In [12]:
0O756

494

In [13]:
0o565

373

# hexa

- hexa mean 16
- so the base is also 16
- 0 1 2 3 4 5 6 7 8 9,A, B, C, D,E,F
- here will use only 16 digits:(0 to 9 and A to F)
- 0xabc,0X9DF

In [14]:
0xabc

2748

# float

In [15]:
number1=123.5
number1

123.5

In [16]:
type(number1)

float

# e representation

In [17]:
10e3        # 10*1000=10000

10000.0

In [18]:
10e+3         # 10e3 and 10e+3 both are same

10000.0

In [19]:
1e5        # 1*100000

100000.0

In [20]:
10e-3        # 10/1000=1/100=0.01

0.01

In [ ]:
# ML ==== output as zero
# 0.0000000000000000000123
# 123e-10 = 123/10000000000=0.0000000000123

In [21]:
100e-5        # 1000/100000

0.001

In [22]:
10e-6

1e-05

# strings

In [23]:
name="python"        # write any thing in quotes
type(name)

str

In [24]:
name1="100"
type(name1)

str

In [25]:
name2='how are you'
name2

'how are you'

In [ ]:
# hai
# how are you

# write above sentence in the one string
# when you call your output should line be lie
/n    /t

In [26]:
name3="hai
       how are you"
    
name3

SyntaxError: unterminated string literal (detected at line 1) (373100525.py, line 1)

In [27]:
name4='hai
       how are you'
name4

SyntaxError: unterminated string literal (detected at line 1) (4277560463.py, line 1)

In [28]:
# whenever you want write multi lines use triple quotes
name6="""hai
         how are you"""
name6
# doc string

'hai\n         how are you'

In [ ]:
# doc string is very important
# jupyter notebook : markdown option
# vs code pycharm : doc string

In [29]:
import random
random.randint()

TypeError: Random.randint() missing 2 required positional arguments: 'a' and 'b'

In [30]:
"""my name is python"""

'my name is python'

In [31]:
"""
i have taken 20 in a
i have taken 30 in b
im cal
"""
a=20
b=30
a+b

50

In [ ]:
import random
random.randint()

In [ ]:
# integer
    # binary
    # octal
    # hexa
# float
# string
    # single quotes
    # double quotes
    # triple quotes

In [32]:
string1='python'
string1

'python'

In [33]:
string2='good morning'
string2

'good morning'

In [ ]:
# triple quotes ==== doc string
# you are writing some information
string3="""how are you"""

# boolean

In [ ]:
# whenever if you ask any question to the computer
# what its reply? True or False
# True=1
# False=0

True    # keyword
False   # keyword

In [34]:
value=False    # we are assigning false in a variable value
value

False

In [35]:
type(value)

bool

In [36]:
val1=True
type(val1)

bool

In [ ]:
name1=True    # boolean
name2=true    # both are variables
name3="True"    # string

In [37]:
name2=true

# have you defined true before?
# i did not defined true,thats why Im not able to use that

NameError: name 'true' is not defined

In [38]:
true=100    # 100 is saving in a variable true
name2=true  # true is saving in a variable name2
name2       # so name2 = 100

100

In [40]:
a=100        # 100 saved in a
b=200        # 200 saved in b
a=b          # b is saved in a=200  100=200
b=a          # a is saved in b= 200
a=500        # 500 saved in a=500
b=a          # a is saved in b=500
b=900        # 900 is saved in b=900
a            # latest value = 500

100 ----> 200 ----> 500
200 ----> 200 ----> 500 ----> 900

500

In [41]:
b

900

In [42]:
left=right
100=200

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (1264476663.py, line 2)

# complex-conjugate

- a+jb or a+ib
- where a = real number
- b = imaginary number
- i = sqrt(-1)

In [43]:
number = 3+5j
number

(3+5j)

In [44]:
type(number)

complex

In [45]:
number1 = 3-5j
number1

(3-5j)

In [ ]:
# if i want to retrive only real value seperately
# 3+5j
# 3 is the real value
# 5 is the imaginary value

In [46]:
number=3+5j
number

(3+5j)

In [47]:
dir(number)

['__abs__',
 '__add__',
 '__bool__',
 '__class__',
 '__complex__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 'conjugate',
 'imag',
 'real']

In [48]:
number.real        # <pname>.<method>

3.0

In [49]:
number.imag

5.0

In [50]:
number.conjugate()

# + become -
# - become +

(3-5j)

In [52]:
number.conjugate()

(3-5j)

In [53]:
number1=3-5j
# number1.real = 3
# number1.imag = -5
# number1.conjugate = 3+5j

In [ ]:
3-5j ====> 3

In [54]:
complex(4,10)
# real = 4
# imag = 10
# 4+10j

(4+10j)

In [55]:
complex(4,-10)
# inside bracket what you are seeing
# parameters/arguments

(4-10j)

In [56]:
complex()        # if i did not provide anything inside

0j

- whenever if you see any brackets(),that is called function
- another name of function is called method
- inside brackets what you are seeing is called parameters
- another name for parameters is arguments

In [57]:
import random
random.randint(1,100)

79

In [58]:
import math
math.sin()

TypeError: math.sin() takes exactly one argument (0 given)

In [59]:
complex()

# default arguments

# if you not provide anything inside bracket
# i will use real value as 0
# imaginary value also 0
# 0+0j ====> 0j only

0j

In [ ]:
A) 0+0j
B) 0j
C) 0-0j
D) 0
E) error

In [ ]:
A) random.randint()    # error is it necessary to provide arguments
B) math.sin()          # error is it necessary to provide arguments
C) complex()           # no error

In [ ]:
random.randint(a,b)
math.sin(x,/)
complex(real=0,imag=0)

In [4]:
random.randint()

NameError: name 'random' is not defined

In [5]:
math.sin()

NameError: name 'math' is not defined

In [6]:
complex()

0j

In [ ]:
# packages
# methods
# parameters

- int
- float
- str
- bool
- complex